* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00B0FF, #0099CC);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0077AA; /* Cor ajustada para melhor contraste */
    margin: 20px 0;
}

.instrucao {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.form-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
.areaTexto {
    width: 100%;
    padding: 8px;
    border: #f4f4f4 1px solid;
    border-radius: 3px;
    margin: 10px 0;
}

input:focus,
textarea:focus {
    border: #00B0FF 1px solid;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 176, 255, 0.5);
    transition: all 0.3s ease;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

.areaTexto {
    height: 100px;
    resize: none;
}

.btEnviar {
    background-color: #00B0FF;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    display: block;
    border: none;
    margin: 10px auto;
    cursor: pointer;
}

.btEnviar:hover {
    background-color: #0099CC;
}

@media (max-width: 500px) {
    .form-container {
        max-width: 100%;
        padding: 15px;
    }
    h1 {
        font-size: 1.5rem;
    }
    input,
    .areaTexto {
        font-size: 0.9rem;
    }
    .btEnviar {
        padding: 8px 15px;
    }
}